* {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
@media screen {
  html {
    font-size: 20px;
  }
}
@media print {
  html {
    font-size: 14px;
  }
}
@media screen {
  html {
    background: #2e4372;
  }
}
@media screen {
  html,
  button,
  input {
    font-family: 'gidoleregular', sans-serif;
  }
}
@media print {
  html,
  button,
  input {
    font-family: 'enriquetaregular', serif;
  }
}
@media screen {
  body {
    color: #f9f9ec;
  }
}
#header {
  text-align: center;
}
@media print {
  #header {
    display: none;
  }
}
#header h1 {
  font-size: 1.5em;
  margin: 0.1em;
}
@media screen and (min-width: 768px) {
  #header h1 {
    font-size: 2.5em;
  }
}
#header h1 .food-emoji {
  font-weight: normal;
}
#header a {
  text-decoration: none;
  color: #f9f9ec;
}
#header::after {
  content: '';
  width: 100%;
  border-bottom: 3px solid;
  display: block;
  margin: 0;
}
#footer {
  margin-top: 4rem;
  color: #ccc;
  text-align: center;
}
@media print {
  #footer .login {
    display: none;
  }
}
.content {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .content {
    max-width: 90%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'enriquetaregular', serif;
  font-weight: bold;
}
a {
  color: #c6c653;
  font-weight: bold;
  text-decoration: none;
}
ul:not(.normal) {
  list-style: none;
  padding-left: 0;
}
li {
  margin-bottom: 0.5em;
}
button,
.btn {
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  border: none;
  background: #dfdf9f;
  padding: 0.2em 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
@media print {
  button,
  .btn {
    display: none;
  }
}
button:not(.link),
.btn:not(.link) {
  color: black;
}
button.submit,
.btn.submit {
  font-size: 1.1em;
  width: 100%;
}
button.warning,
.btn.warning {
  background: #a32929;
  color: white;
}
button.primary,
.btn.primary {
  background: #7070c2;
  color: #ffffff;
}
button.link,
.btn.link {
  background: none;
}
button.full-width,
.btn.full-width {
  width: 100%;
}
button.large,
.btn.large {
  font-size: 1.5rem;
}
button,
.btn,
input[type="text"],
input[type="number"],
input[type="url"] {
  border-radius: 3px;
}
.subtitle,
.subtitle a {
  margin-top: -1em;
  color: #c6c653;
  font-style: italic;
}
.warning {
  background: #a32929;
  color: white;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
form .form-group {
  margin: 1em 0;
}
form .form-group > label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
form input:not([type="checkbox"]),
form textarea {
  display: block;
  width: 100%;
  font-size: 100%;
  border: none;
  background: #eee;
  padding: 0.6em;
}
form textarea {
  font-size: 0.8rem;
}
hr {
  border: 1px solid;
  margin: 1em 0;
}
@media print {
  hr {
    border: 1px solid;
    margin: 0.5em 0;
  }
}
.button-choice-input input[type="checkbox"] {
  display: none;
}
.button-choice-input input[type="checkbox"]:checked + .btn {
  background: #39ac39;
  color: #ffffff;
}
#id_emoji {
    width: 4em;
}
