{% extends "base.html" %}
{% load markdown %}
{% load time %}
{% load load %}

{% block title %}{{meal.name}} - {{block.super}}{% endblock %}

{% block stylesheets %}
{{block.super}}
{% css 'meal' %}
{% endblock stylesheets %}

{% block content %}
<h1>
    {{meal.name}}
    <a class="pull-right btn link large" title="Edit this meal" href="{% url 'meal_edit' meal.pk %}">🖉</a>
</h1>
<h2 class="subtitle categories">{% for category in meal.category.all %}<span class="category"><a href="{{category.get_absolute_url}}">{{category.name}}</a></span>{% endfor %}</h2>
<h3 class="subtitle added-by">Added by {{meal.added_by}}</h3>

{% if meal.description %}
<div class="description">{{meal.description}}</div>
{% endif %}

<hr>

{% if meal.recipes.exists %}
    <ul>
    {% for recipe in meal.recipes.all %}
        <li class="recipe clearfix">
            <a class="pull-right btn link" title="Edit this recipe" href="{% url 'recipe_edit' recipe.pk %}">🖉</a>
            <header>
                <section class="time">
                    <p>⏱ {{recipe.time|timedelta}}</p>
                </section>
                {% if recipe.url %}
                <section class="url">
                    <p>🔗 <a target="_blank" href="{{recipe.url}}">{{recipe.url}}</a></p>
                </section>
                {% endif %}
                <section class="added-by">
                    <p>Added by {{recipe.added_by}}</p>
                </section>
            </header>
            {% if recipe.reference %}
            <section class="reference">
                <p><cite>{{recipe.reference}}</cite></p>
            </section>
            {% endif %}

            <div class="method">
                {% if recipe.ingredients %}
                <section class="ingredients">
                    <h3>Ingredients</h3>
                    {{recipe.ingredients|markdown}}
                </section>
                {% endif %}
                
                {% if recipe.instructions %}
                <section class="instructions">
                    <h3>Instructions</h3>
                    {{recipe.instructions|markdown}}
                </section>
                {% endif %}
            </div>

            <p><a class="btn warning" href="{% url 'recipe_delete' recipe.pk %}">❌ Delete this recipe</a></p>

        </li>
    {% endfor %}
    </ul>
{% else %}
<p>No recipes</p>
{% endif %}

<p><a class="btn" href="{% url 'meal_add_recipe' meal.pk %}">+ Add a recipe</a></p>

<hr>
<form method="POST" action="{% url 'meal_delete' meal.pk %}">
    {% csrf_token %}
    <p><a class="btn warning" href="{% url 'meal_delete' meal.pk %}">❌ Delete this meal</a></p>
</form>

{% endblock content %}
