{% load staticfiles %}
{% load load %}
{% load font %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Pick a Meal{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        {% for font in SCRIPT_FONTS %}
        <link rel="stylesheet" href="{% static 'fonts/'|add:font|add:"_regular/stylesheet.css" %}">
        {% endfor %}
        <style type="text/css">
            {% for font in SCRIPT_FONTS %}
            .font-{{font}} {
                font-family: '{{font}}regular';
            }
            {% endfor %}
        </style>

        {% block stylesheets %}
            {% css 'base' %}
        {% endblock stylesheets %}

        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@2.12.1/dist/index.min.js"></script>
        {% endblock scripts %}
    </head>
    <body>
        <header id="header">
            <h1><a href="{% url 'index' %}"><span class="food-emoji">🍴</span> Pick a Meal <span class="food-emoji">{% choice "🍇🍈🍉🍊🍋🍌🍍🍎🍏🍐🍑🍒🍓🍅🍆🌽🌶🍄🌰🍞🍖🍗🍔🍟🍕🍲🍱🍘🍙🍚🍛🍜🍝🍠🍢🍣🍤🍥🍡🍦🍧🍨🍩🍪🎂🍰🍫🍬🍭🍮🍯🍼☕🍵🍶🍷🍸🍹🍺🍻🍳" %}</span></a></h1>
        </header>

        <div class="content">
        {% block content %}
        {% endblock %}
        </div>

        <footer id="footer">
            <p>Made by <a href="http://somethingorotherwhatever.com">clp</a>.</p>
            <p class="login">{% if user.is_authenticated %}<a href="{% url 'logout' %}?next={{request.path}}">Log out</a>{% else %}<a href="{% url 'login' %}?next={{request.path}}">Log in</a>{% endif %}</p>
        </footer>
    </body>
</html>
