{% extends "base.html" %}
{% load font %}
{% load load %}
{% load time %}

{% block stylesheets %}
    {{block.super}}
    {% css 'random_meal' %}
{%endblock stylesheets %}

{% block content %}
<form class="chooser" method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="meal" value="{{meal.pk}}"/>

    <h1 class="meal-name font-blackjack">{{meal.name}}</h1>
    {% if meal.time %}
        <p>⏱ {{meal.time|timedelta}}</p>
    {% endif %}
    {% if meal.description %}
        <blockquote class="description">{{meal.description}}</blockquote>
    {% endif %}

    <div class="buttons">
        <button class="warning" type="submit" name="action" value="reject">Nope</button>
        <button class="primary" type="submit" name="action" value="accept">Yep</button>
    </div>
</form>
{% endblock content %}
